<include file="./Public/Admin/html/head.html" />
<body data-type="widgets">
<script src="__JS__/main.js"></script>
<div class="am-g tpl-g">
    <script src="__JS__/theme.js"></script>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-body am-fr">
                        <form method="post"  class="am-form tpl-form-line-form">
                            <input hidden value="{$type_id}" name="type_id">
                            <div class="am-form-group">
                                <label for="user-email" class="am-u-sm-3 am-form-label">商品名称</label>
                                <div class="am-u-sm-9">
                                    <input type="text" class="tpl-form-input" name="name" placeholder="商品名称">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3" style="margin-top: 35px;">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="./Public/Admin/html/footer.html" />
<script>

    $(function () {
        $('form').ajaxForm(function (data) {
            if (data['success']) {
                layer.alert(data['info'], function (i) {
                    parent.$("#example-r").load(parent.location.href+" #example-r");
                    parent.layer.close(i);
                });
            } else {
                layer.msg(data['info'], {
                    icon: 5
                });
            }
        });
    });

</script>
</body>

</html>l>