<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>伊百丽-后台管理系统打印服务</title>
    <link rel="stylesheet" href="__CSS__/amazeui.min.css" />
    <link rel="stylesheet" href="__CSS__/amazeui.datatables.min.css" />
    <script src="__JS__/jquery.min.js"></script>
</head>
<body>
        {$str}
        <img src="__IMG__/logoa.png" id="img1" hidden>
</body>
<script>
    $(function (){
        $('#img').attr('src',$('#img1').attr('src'));
        $('#img').attr('width','11%');
    })
</script>
</html>