<include file="./Public/Admin/html/head.html" />
<body data-type="index">
<div class="am-g tpl-g">
    <include file="./Public/Admin/html/header.html" />
    <include file="./Public/Admin/html/sidebar.html" />
    <!-- 内容区域 -->
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">客户信息管理</div>
                            <!-- 搜索 -->
                            <div class="am-u-lg-6" style="float: right">
                                <form method="get" action="{:U('User/search')}"  class="am-form tpl-form-line-form">
                                    <div class="am-input-group">
                                                  <span class="am-input-group-btn">
                                                    <button class="am-btn am-btn-default" type="submit" onclick="return search()"><span class="am-icon-search"></span> </button>
                                                  </span>
                                        <input type="text" value="{$se_val|default=''}" id="search_text" name="val" class="am-form-field" placeholder="请输入客户姓名或者手机号">
                                    </div>
                                </form>
                            </div>
                            <!-- 搜索 end-->
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default am-btn-success" onclick="show_add()"><span class="am-icon-plus"></span> 新增客户</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>电话</th>
                                        <th>地址</th>
                                        <th>客户添加时间</th>
                                        <th>所选商品</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="vo" mod="2">
                                        <tr class="gradeX" >
                                            <td>{$vo.username}</td>
                                            <td>{$vo.tel}</td>
                                            <td>{$vo.adress}</td>
                                            <td>{$vo.create_time}</td>
                                            <td><a href="#" onclick="show_data(this)" urll="{:U('Select/index',array('user_id'=>$vo['id']))}">查看商品详情</a></td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:return false;" onclick="show_update(this)" url="{:U('User/update',array('id'=>$vo['id']))}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:return false;" onclick="show_del(this)" url="{:U('User/del',array('id'=>$vo['id']))}" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                    <button type="button" class=" am-btn-success am-btn-sm" onclick="show_goods_data(this)" url="{:U('User/get_goods_info',array('id'=>$vo['id']))}">预览清单</button>
                            </div>
                                            </td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        {$page}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="./Public/Admin/html/footer.html" />
</body>
<script type="text/javascript">
    function show_add(){
        layer.open({
            type: 2,
            title: '添加客户信息',
            shadeClose: true,
            shade: 0.8,
            area: ['950px', '90%'],
            content: "{:U('add')}",
        });
    }
    function show_goods_data(obj){
        window.location.href = $(obj).attr('url');

    }
    function show_update(obj){
        var url = $(obj).attr('url');
        layer.open({
            type: 2,
            title: '修改客户信息',
            shadeClose: true,
            shade: 0.8,
            area: ['650px', '80%'],
            content: url,
        });
    }
    function show_del(obj){
        var url = $(obj).attr('url');
        $.get(url, function(data){
            if (data['success']) {
                layer.alert(data['info'], function (i) {
                    parent.$("#example-r").load(parent.location.href+" #example-r");
                    parent.layer.close(i);
                });
            } else {
                layer.msg(data['info'], {
                    icon: 5
                });
            }
        });
    }
    function show_data(obj){
        layer.open({
            type: 2,
            title: '添加客户信息',
            shadeClose: true,
            shade: 0.8,
            area: ['950px', '90%'],
            content: $(obj).attr('urll'),
        });
    }
</script>
</html>